<%= form_for(@line) do |form| %>

<div>  
<%= form.label :name, "Name of Train Line: " %>  
<%= form.text_field :name %>
</div>
<div>
<%= form.label :frequency, "Frequency of Train Line: " %>  
<%= form.text_field :frequency %>
</div>
<div class = "field">
  <%= form.label :landmark_id, "Landmark:" %>
  <%= form.collection_select :landmark_id, Landmark.all, :id, :name %>
</div>

<%= form.submit "Save" %>
<% end %>